
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../CSS/Spurs.css" />

<body>
    <!--side logo and team title logo here to show on every tab of the page-->
    <img id ='MainSideLogo' src = "../TeamsSideLogo/SpursSideLogo.png">
    <img id ='TeamTitleLogo' src = "../TeamsLogoHeadLine/SpursLogoHeadLine.png"/>


    <div ng-controller="SpursCtrl as SpursContrl">
        <div ng-init="styleNav={'background-color' : 'white'}">
            <nav id="primary_nav_wrap">
                <ul>

                    <li ng-click="SpursContrl.SpursTeamData()"><a ng-style="styleTeamData" ng-click="styleTeamData = styleNav; styleRoster = null; styleSalaries = null;" class='aTeam' href="">Franchise</a></li>
                    <li  ng-click="SpursContrl.SpursNewRoster()"><a ng-style="styleRoster" ng-click="styleRoster = styleNav; styleTeamData = null; styleSalaries = null;" class='aTeam' href="">Roster</a></li>
                    <li  ng-click="SpursContrl.SpursPayRoll()"><a ng-style="styleSalaries" ng-click="styleSalaries = styleNav; styleTeamData = null; styleRoster = null;" class='aTeam' href="">Salaries</a></li>

                </ul>
            </nav> 
        <div ng-show="SpursContrl.isSet(1)">
                    <img id ='TeamArena' src = "../TeamsArenas/SpursArena.jpg"/>
                <table id="TeamData">
  
                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">
                        <td id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>Location:</strong> {{stat.LOCATION}}</td>
                    </tr>
                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">
                        <td id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>Team Names:</strong> {{stat.TEAMNAMES}}</td>
                    </tr>

                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">	
                        <td  id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>Playoff apperances:</strong> {{stat.PLAYOFFAPPERANCES}}</td>
                    </tr>
                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">
                        <td id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>Championships:</strong> {{stat.CHAMPIONSHIPS}}</td>
                    </tr>
                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">
                        <td id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>2017-18 Record:</strong> {{stat.RECORD}}</td>

                    </tr>





                </table>
            </div>

             <!--Team Data-->
            <div class='TeamData' ng-show="SpursContrl.isSet(2)">
                  <img id ='TeamArena' src = "../TeamsArenas/SpursArena.jpg"/>
                <table id="TeamData">
          

                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">
                        <td id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>Location:</strong> {{stat.LOCATION}}</td>
                    </tr>
                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">
                        <td id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>Team Names:</strong> {{stat.TEAMNAMES}}</td>
                    </tr>

                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">	
                        <td  id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>Playoff apperances:</strong> {{stat.PLAYOFFAPPERANCES}}</td>
                    </tr>
                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">
                        <td id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>Championships:</strong> {{stat.CHAMPIONSHIPS}}</td>
                    </tr>
                    <tr id="TeamDatatr" ng-repeat="stat in TeamData">
                        <td id='TeamDatatd' style='border-style:hidden;'><strong id='tdStrongTeamDataHeadLines'>2017-18 Record:</strong> {{stat.RECORD}}</td>

                    </tr>



                </table>







            </div>

            <!-- Team  New Roster-->
            <div ng-show="SpursContrl.isSet(3)">
                <table id="NewRosterTable">


                    <tr  id="NewRostertr">
                        <th  id="NewRosterth"><a href="" style="color:white;text-decoration: none" ng-click="sortDataPLAYER('PLAYER')">Player <div ng-class="getSortClass('PLAYER')"></div><a></th>
                        <th id="NewRosterth"><a href="" style="color:white;text-decoration: none" ng-click="sortDataPosition('POSITION')">Position <div ng-class="getSortClass('POSITION')"></div><a></th>
                        <th id="NewRosterth"><a href="" style="color:white;text-decoration: none" ng-click="sortDataHeight('HEIGHT')">Height (cm) <div ng-class="getSortClass('HEIGHT')"></div><a></th>
                        <th id="NewRosterth"><a href="" style="color:white;text-decoration: none" ng-click="sortDataWeight('WEIGHT')">Weight (kg) <div ng-class="getSortClass('WEIGHT')"></div><a></th>
<!--                                    Modify this 'date of birth' to age-->
                        <th id="NewRosterth"><a href="" style="color:white;text-decoration: none" ng-click="sortDataBirthDate('BirthDate')">Date of Birth <div ng-class="getSortClass('BirthDate')"></div></a></th>
                        <th id="NewRosterth"><a href="" style="color:white;text-decoration: none" ng-click="sortDataEXPERIENCE('EXPERIENCE')">Experience (years) <div ng-class="getSortClass('EXPERIENCE')"></div></a></th>
                        <th id="NewRosterth"><a href="" style="color:white;text-decoration: none" ng-click="sortDataCOLLEGE('COLLEGE')">College <div ng-class="getSortClass('COLLEGE')"></div></a></th>


                    </tr>
                    <tr id="NewRostertr" ng-repeat="stat in NewTeamRoster|orderBy:sortColumn:reverseSort">

                        <td  id="NewRostertd"><ul class="player"><li id="modalBtn"  ng-click="SpursContrl.getPlayerStats(stat.PLAYER)">
                                    <a class ="player" href="" style="color:blue;text-decoration: none">{{stat.PLAYER}}</a></li></ul></td>

                        <td id="NewRostertd">{{stat.POSITION}}</td>

                        <td id="NewRostertd">{{stat.HEIGHT}}</td>
                        <td id="NewRostertd" >{{stat.WEIGHT}}</td>
                        <td id="NewRostertd">{{stat.BirthDate|date : "dd/MM/y"}}</td>
                        <td id="NewRostertd">{{stat.EXPERIENCE}}</td>
                        <td id="NewRostertd">{{stat.COLLEGE}}</td>





                    </tr>
                </table>
                <!--Player Season Stats Tab-->
                <div id="simpleModal">
                    <div id="modal-content">
                        <span id="CloseButtonCreateCoupon" class="closeBtn">&times;</span>
                        <table id="PlayerSeasonStatsTable" ng-show="show == 1">

                            <p id="PlayerNameHeadLine">{{PLAYER}} Stats</p>

                            <tr id="PlayerSeasonStatsTabletr">
                                <th id="PlayerSeasonStatsTableth" style="padding-right: 23px;"><a href="" style="color:white;text-decoration: none" ng-click="sortDataSeason('Season')">Season <div ng-class="getSortClass('Season')"></div><a></th>
                                            <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none"ng-click="sortDataTeam('Team')">Team <div ng-class="getSortClass('Team')"></div><a</th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('G')">G <div ng-class="getSortClass('G')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none"ng-click="sortData('GS')">GS <div ng-class="getSortClass('GS')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none"ng-click="sortData('MP')">MP <div ng-class="getSortClass('MP')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none"ng-click="sortData('FieldGoalsPercentage')">FG% <div ng-class="getSortClass('FieldGoalsPercentage')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none"  ng-click="sortData('ThreePointPercantage')">3P% <div ng-class="getSortClass('ThreePointPercantage')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('FreeThrowPercantage')">FT% <div ng-class="getSortClass('FreeThrowPercantage')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('RB')">RB <div ng-class="getSortClass('RB')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('AST')">AST <div ng-class="getSortClass('AST')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('STL')">STL <div ng-class="getSortClass('STL')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('BLK')">BLK <div ng-class="getSortClass('BLK')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('TOV')">TOV <div ng-class="getSortClass('TOV')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('PTS')">PTS <div ng-class="getSortClass('PTS')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('DOUBLEDOUBLES')">DOUBLE-DOUBLE <div ng-class="getSortClass('DOUBLEDOUBLES')"></div></a></th>
                                                        <th id="PlayerSeasonStatsTableth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('TRIPLEDOUBLES')">TRIPLE-DOUBLE <div ng-class="getSortClass('TRIPLEDOUBLES')"></div></a></th>
                                                        </tr>
                                                        <tr id="PlayerSeasonStatsTabletr" ng-repeat="stat in stats|orderBy:sortColumn:reverseSort">
                                                            <td id="PlayerSeasonStatsTabletd" >{{stat.Season}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.Team}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.G}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.GS}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.MP.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.FieldGoalsPercentage.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.ThreePointPercantage.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.FreeThrowPercantage.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.RB.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.AST.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.STL.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.BLK.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.TOV.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.PTS.toFixed(1)}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.DOUBLEDOUBLES}}</td>
                                                            <td  id="PlayerSeasonStatsTabletd">{{stat.TRIPLEDOUBLES}}</td>





                                                        </tr>
                                                        <tr style= "background-color: #c6cece">
                                                            <td id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.Season}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.Team}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.G}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.GS}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.MP.toFixed(1)}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.FieldGoalsPercentage.toFixed(1)}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.ThreePointPercantage.toFixed(1)}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.FreeThrowPercantage.toFixed(1)}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.RB.toFixed(1)}}</strong></strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.AST.toFixed(1)}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.STL.toFixed(1)}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.BLK.toFixed(1)}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.TOV.toFixed(1)}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.PTS.toFixed(1)}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.DOUBLEDOUBLES}}</strong></td>
                                                            <td  id="PlayerSeasonStatsTabletd"><strong>{{statsWithNoCareer.TRIPLEDOUBLES}}</strong></td>





                                                        </tr>

                                                        </table>

                                                        </div>
                                                        </div>

                                                        </div>
                                                        <!-- Team PayRoll-->
                                                        <div ng-show="SpursContrl.isSet(4)">

                                                            <table id="PayRollTable">


                                                                <tr id="PayRolltr">
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortDataPlayer('Player')">Player <div ng-class="getSortClass('Player')"></div></a></th>
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('Age')">Age <div ng-class="getSortClass('Age')"></div></a></th>
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('EightNine')">2018-19 <div ng-class="getSortClass('EightNine')"></div></a></th>
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('NineTwenty')">2019-20 <div ng-class="getSortClass('NineTwenty')"></div></a></th>
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('TwentyTwentyOne')">2020-21 <div ng-class="getSortClass('TwentyTwentyOne')"></div></a></th>
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('TwentyOneTwentyTwo')">2021-22 <div ng-class="getSortClass('TwentyOneTwentyTwo')"></div></a></th>
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('TwentyTwoTwentyThree')">2022-23 <div ng-class="getSortClass('TwentyTwoTwentyThree')"></div></a></th>
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('TwentyThreeTwentyFour')">2023-24 <div ng-class="getSortClass('TwentyThreeTwentyFour')"></div></a></th>
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortDataSignedUsing('SignedUsing')">SignedUsing <div ng-class="getSortClass('SignedUsing')"></div></a></th>
                                                                    <th id="PayRollth"><a href="" style="color:white;text-decoration: none" ng-click="sortData('Guaranteed')">Guaranteed <div ng-class="getSortClass('Guaranteed')"></div></a></th> 

                                                                </tr>
<!--                                                                order by player for the begining with no sign of arrow-->
                                                                <tr id="PayRolltr" ng-repeat="stat in TeamPayRoll|orderBy:'Player'|orderBy:sortColumn:reverseSort">
                                                                    <td id="PayRolltd">{{stat.Player}}</td>
                                                                    <td id="PayRolltd">{{stat.Age}}</td>
                                                                    <td id="PayRolltd">{{stat.EightNine|currency : '$' : 0}}</td>
                                                                    <td id="PayRolltd">{{stat.NineTwenty|currency : '$' : 0}}</td>
                                                                    <td id="PayRolltd">{{stat.TwentyTwentyOne|currency : '$' : 0}}</td>
                                                                    <td id="PayRolltd">{{stat.TwentyOneTwentyTwo|currency : '$' : 0}}</td>
                                                                    <td id="PayRolltd">{{stat.TwentyTwoTwentyThree|currency : '$' : 0}}</td>
                                                                    <td id="PayRolltd">{{stat.TwentyThreeTwentyFour|currency : '$' : 0}}</td>
                                                                    <td id="PayRolltd">{{stat.SignedUsing}}</td>
                                                                    <td id="PayRolltd">{{stat.Guaranteed| currency : '$' : 0}}</td>


                                                                </tr>


                                                                <tr style= "background-color: #c6cece">
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareer.Player}}</strong></td>
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareer.Age}}</strong></td>
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareer.EightNine}}</strong></td>
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareers.NineTwenty}}</strong></td>
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareer.TwentyTwentyOne}}</strong></td>
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareer.TwentyOneTwentyTwo}}</strong></td>
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareer.TwentyTwoTwentyThree}}</strong></td>
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareer.TwentyThreeTwentyFour}}</strong></td>
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareer.SignedUsing}}</strong></td>
                                                                    <td id="PayRolltd"><strong>{{TeamPayRollWithNoCareer.Guaranteed}}</strong></td>





                                                                </tr>
                                                            </table>
                                
                                                        </div>


                                                        </div>
                                                        </div>
                                                        </body>
